@import 'styles/mixins';
@font-face {
  font-family: 'holligate';
  src: url('/fonts/holligate-signature.ttf') format('truetype');
}

.headerContainer {
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(0deg, transparent 0%, #121212 100%);
  backdrop-filter: blur(0.5px);

  &.headerOpen {
    background: #121212;
    transition: background-color 0.2s ease;
  }

  .signatureContainer {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    .signature {
      width: 50%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'holligate';
      font-size: 30px;
    }
  }

  .menuContainer {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    .burgerLinesContainer {
      width: 50%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border: 1px solid transparent;

      .line {
        width: 100%;
        height: 4px;
        background-color: white;
        border: 1px solid white;
        border-radius: 10px;
        transition: all 0.1s ease-in-out;
        &.line1Open {
          transform: rotate(45deg) translate(9px, 9px);
        }
        &.line2Open {
          opacity: 0;
          visibility: hidden;
        }
        &.line3Open {
          transform: rotate(-45deg) translate(9px, -9px);
        }
      }
    }
  }

  .languagesContainer {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menuPanel {
    position: absolute;
    top: 80px;
    left: 0;
    height: 0;
    width: 100%;
    background-color: #121212;
    overflow: hidden;
    transition: height 0.2s ease; // Ajoutez une transition à la propriété height

    &.open {
      height: 100vh; // Changez cette valeur selon la hauteur désirée du panneau
    }

    .navContainer {
      margin-top: 40px;
      text-align: center;

      .navItem {
        padding: 40px;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 3px;
        &:hover {
          font-weight: 600;
        }
      }
    }
  }
}

// ---------------------------------------------------   TABLETS
@media screen and (min-width: 768px) {
  .headerContainer {
    .menuPanel {
      .navContainer {
        margin-top: 80px;
        .navItem {
          padding: 20px;
        }
      }
    }
  }
}
