@import 'styles/mixins';
@import 'styles/variables';
@font-face {
  font-family: 'amsterdam-four';
  src: url('/fonts/amsterdam-four.ttf') format('truetype');
}

.contactPage {
  padding: calc(80px - 20px) 0 80px;

  .sectionsContainer {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-top: 80px;
    background: radial-gradient(transparent 18%, $dark-bg-color 70%),
      radial-gradient(at left center, $light-bg-color, $dark-bg-color);

    .presentationSection {
      .textsContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0 40px;
        font-size: 14px;
        line-height: 17px;
        font-weight: 300;
      }
    }

    .cardsSection {
      .contactCard {
        .cardFrame {
          display: flex;
          justify-content: center;

          .cardContentContainer {
            display: inline-flex;
            flex-direction: column;

            .profilInfos {
              display: inline-flex;
              flex-direction: column;
              justify-content: center;
              gap: 10px;
              padding-bottom: 20px;
              border-bottom: 1px solid $primary-color;
              text-transform: uppercase;
              letter-spacing: 3px;

              .name {
                font-size: 22px;
                font-weight: 600;

                .lastname {
                  margin-left: 10px;
                  font-weight: 200;
                }
              }

              .role {
                font-size: 12px;
                font-weight: 200;
              }
            }

            .socialLinksContainer {
              display: flex;
              flex-direction: column;
              gap: 20px;
              padding-top: 20px;

              .socialLink {
                display: flex;
                align-items: center;
                gap: 20px;
                font-size: 12px;
                font-weight: 200;
              }
            }
          }
        }
      }
    }
  }
}

// ---------------------------------------------------   TABLETS
@media screen and (min-width: 768px) {
  .contactPage {
    .sectionsContainer {
      // height: 80vh;

      .presentationSection {
        display: flex;
        justify-content: center;

        .textsContainer {
          width: 600px;
          padding: 0 80px;
        }
      }

      .cardsSection {
        display: flex;
        justify-content: center;

        .contactCard {
          z-index: 2;
          width: 600px;
          height: 340px;
          display: flex;
          justify-content: center;
          align-items: center;
          @include insidecardsbg;
          @include cardsboxshadow;

          .cardFrame {
            width: calc(100% - 80px);
            height: calc(100% - 80px);
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid $accent-color;
            border-radius: 5px;

            .cardContentContainer {
              flex-direction: row;

              .profilInfos {
                padding: 0 20px 0 0; // espace du separator
                border-bottom: none;

                .role {
                  text-align: end;
                }
              }

              .socialLinksContainer {
                gap: 5px;
                border-left: 1px solid $primary-color;
                padding: 0 0 0 20px;

                .socialIcon {
                  width: 30px;
                  height: 30px;
                }
              }
            }
          }
        }

        .backCard {
          position: absolute;
          transform: rotate(-7deg);
          width: 600px;
          height: 340px;
          @include insidecardsbg;
          @include cardsboxshadow;
          // border: 1px solid blue;
        }
      }
    }
  }
}

// ---------------------------------------------------   DESKTOPS
@media screen and (min-width: 1200px) {
  .contactPage {
    display: flex;
    justify-content: center;

    .sectionsContainer {
      width: calc(1200px + 80px);
      padding: 0;
      height: 80vh;
      display: flex;
      flex-direction: row;
      gap: 0;
      justify-content: space-between;

      .presentationSection {
        display: flex;
        align-items: center;
        width: 600px;
      }

      .cardsSection {
        width: 600px;
        align-items: center;
      }
    }
  }
}

// .contactPage {
//   padding: calc(80px - 20px) 0 80px;
//   border: 1px solid red;

//   .sectionsContainer {
//     // padding: 0 40px;
//     border: 1px solid orange;

//     .presentationSection {
//       border: 1px solid red;
//     }

//     .cardsSection {
//       border: 1px solid red;
//       .contactCard {
//         .contactCardFrame {
//           display: flex;
//           justify-content: center;

//           .cardContentContainer {
//             display: inline-flex;
//             flex-direction: column;

//             .profilInfos {
//               display: inline-flex;
//               flex-direction: column;
//               justify-content: center;
//               gap: 10px;
//               padding-bottom: 20px;
//

//               .name {
//                 font-size: 22px;
//                 text-transform: uppercase;
//                 letter-spacing: 3px;
//                 font-weight: 600;
//                 .lastname {
//                   margin-left: 10px;
//                   font-weight: 200;
//                 }
//               }
//               .role {
//                 font-size: 12px;
//                 text-transform: uppercase;
//                 letter-spacing: 3px;

//                 font-weight: 200;
//               }
//             }

//             .socialLinksContainer {
//               display: flex;
//               flex-direction: column;
//               gap: 5px;
//               padding-top: 20px;

//               .socialLink {
//                 display: flex;
//                 align-items: center;
//                 gap: 20px;
//                 font-size: 12px;
//                 font-weight: 200;
//               }
//             }
//           }
//         }
//       }

//       .backCard {
//         display: none;
//       }
//     }
//   }
// }

// // ---------------------------------------------------   TABLETS
// @media screen and (min-width: 768px) {
//   .contactPage {
//     border: 1px solid blue;

//     .sectionsContainer {
//       border: 1px solid orange;

//       .presentationSection {
//         display: flex;
//         justify-content: center;
//         border: 1px solid red;

//         .textsContainer {
//           width: 600px;
//           padding: 80px;
//           font-size: 14px;
//           line-height: 17px;
//           border: 1px solid orange;
//         }
//       }

//       .cardsSection {
//         position: relative;
//         display: flex;
//         justify-content: center;
//         height: 800px;

//         .contactCard {
//           z-index: 3;
//           position: absolute;
//           top: 80px;
//           transform: translateX(80px); /* Décale de 80px à droite */
//           width: 600px;
//           height: 340px;
//           display: flex;
//           justify-content: center;
//           align-items: center;
//           @include insidecardsbg;
//           @include cardsboxshadow;

//           .contactCardFrame {
//             width: calc(100% - 80px);
//             height: calc(100% - 80px);
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             justify-content: center;
//             border: 1px solid $accent-color;
//             border-radius: 5px;

//             .cardContentContainer {
//               display: inline-flex;
//               flex-direction: row;

//               .profilInfos {
//                 padding: 0 20px 0 0; // espace du separator
//                 border-bottom: none;

//                 .role {
//                   text-align: end;
//                 }
//               }

//               .socialLinksContainer {
//                 border-left: 1px solid $primary-color;
//                 padding: 0 0 0 20px;
//               }
//             }
//           }
//         }

//         .backCard {
//           z-index: 2;
//           position: absolute;
//           width: 600px;
//           height: 340px;
//           display: flex;
//           justify-content: center;
//           align-items: center;
//           @include insidecardsbg;
//           @include cardsboxshadow;
//         }

//         .backCard2 {
//           position: absolute;
//           width: 600px;
//           height: 340px;
//           display: flex;
//           justify-content: center;
//           align-items: center;
//           @include insidecardsbg;
//           @include cardsboxshadow;
//         }

//         .backCard,
//         .backCard2 {
//           .logoContainer {
//             width: 290px;
//             height: 290px;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             border: 1px solid transparent; // Rend toutes les bordures transparentes
//             border-top: 1px solid $accent-color; // Segment nord-est visible
//             border-bottom: 1px solid $accent-color; // Segment sud-ouest visible
//             border-radius: 50%;
//             transform: rotate(45deg); // Rotation de 45 degrés

//             .logoTextContainer {
//               display: flex;
//               flex-direction: column;
//               align-items: center;
//               transform: rotate(-45deg);

//               .signature {
//                 margin-top: 20px;
//                 font-family: 'amsterdam-four';
//                 font-size: 44px;
//                 color: $accent-color;
//               }

//               .name {
//                 margin: 45px 0 0 20px;
//                 text-transform: uppercase;
//                 font-size: 14px;
//                 letter-spacing: 6px;
//                 font-weight: 500;
//                 color: $accent-color;
//               }

//               .job {
//                 margin: 10px 0 0 20px;
//                 text-transform: uppercase;
//                 font-size: 9px;
//                 letter-spacing: 3px;
//                 font-weight: 500;
//                 color: $accent-color;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }

// // ---------------------------------------------------   DESKTOPS
// @media screen and (min-width: 1200px) {
//   .contactPage {
//     display: flex;
//     justify-content: center;
//     border: 1px solid red;

//     .sectionsContainer {
//       width: calc(1200px + 80px);
//       display: flex;
//       border: 1px solid orange;

//       .presentationSection {
//         width: 600px;
//       }

//       .cardsSection {
//         width: calc(600px + 80px);
//         // display: block;

//         .contactCard {
//           top: 80px;
//           transform: none;
//           right: 0;
//         }

//         .backCard {
//           top: 0;
//           left: 0;
//         }

//         .backCard2 {
//           top: 0;
//           right: 0;
//         }
//       }
//     }
//   }
// }
