.skillsSectionContainer {
  border: 1px solid red;
}

// ---------------------------------------------------   TABLETS
@media screen and (min-width: 768px) {
  .skillsSectionContainer {
    border: 1px solid blue;
  }
}
// ---------------------------------------------------   DESKTOPS
@media screen and (min-width: 1200px) {
  .skillsSectionContainer {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    border: 1px solid red;

    .cardsContainer {
      position: relative;
      width: calc(1200px + 80px);
      height: 680px;
      border: 1px solid orange;

      .presentationCard {
        width: calc(50% + 40px);
        height: calc(50% + 40px);

        border: 1px solid white;

        .presentationContentContainer {
          border: 1px solid red;
          margin: 40px;

          .skillsTitle {
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 6px;
            font-weight: 500;
          }
        }
      }

      .skillsCard {
        z-index: 2;
        position: absolute;
        bottom: 0;
        right: 0;
        width: calc(50% + 40px);
        height: calc(50% + 40px);
        background-color: black;
        border: 1px solid white;

        .skillsContentContainer {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-template-rows: repeat(2, 1fr);

          height: calc(340px - 40px);
          margin: 40px;

          border: 1px solid red;

          .itemContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            font-size: 10px;
            text-transform: uppercase;
            letter-spacing: 1px;

            border: 1px solid orange;

            .itemName {
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}

// .skillsSectionContainer {
//   display: flex;
//   justify-content: center;
//   margin-top: 80px;
//   border: 1px solid red;

//   .cardsContainer {
//     position: relative;
//     width: calc(1200px + 80px);
//     height: 680px;
//     border: 1px solid orange;

//     .presentationCardContainer {
//       width: calc(50% + 40px);
//       height: calc(50% + 40px);
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: space-around;

//       border: 1px solid white;

//       .title {
//         font-size: 12px;
//         text-transform: uppercase;
//         letter-spacing: 3px;
//         font-weight: 500;
//         border: 1px solid red;
//       }

//       .textsContainer {
//         display: flex;
//         margin: 0 80px;
//         // text-align: center;
//         font-size: 12px;
//         letter-spacing: 1px;
//         font-weight: 300;

//         border: 1px solid red;

//         .leftText {
//           text-align: right;
//           border-right: 1px solid white;
//           padding-right: 40px;
//         }

//         .rightText {
//           padding-left: 40px;
//         }
//       }
//     }

//     .skillsCardContainer {
//       z-index: 2;
//       position: absolute;
//       bottom: 0;
//       right: 0;
//       width: calc(50% + 40px);
//       height: calc(50% + 40px);
//       background-color: black;
//       border: 1px solid white;

//       .linkedin {
//         color: white;
//         fill: red;
//         stroke: red;
//       }
//     }
//   }
// }
