.aboutSectionContainer {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 2fr;
  gap: 200px;

  margin: 200px;
  border: 1px solid white;

  .photoContainer {
    border: 1px solid white;
    // margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .photo {
      // border: 1px solid orange;
      // border-radius: 50%;
      position: relative;
      aspect-ratio: 1/1;

      .image {
        // border: 1px solid yellow;
        border-radius: 50%;
        width: 100%;
      }
    }
  }

  .presentationContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-left: 100px;

    border: 1px solid red;
    // margin: 20px;

    .textContainer {
      font-size: 14px;

      // border: 1px solid orange;
      // margin: 20px;

      .titleContainer {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        // border: 1px solid yellow;
        // margin: 20px;

        .aboutTitle {
          color: white;
          margin-right: 20px; /* Ajuster selon le besoin */
        }
        .horizontalBar {
          height: 1px; /* Épaisseur de la barre */
          background-color: #ffffff; /* Couleur de la barre */
          flex-grow: 1; /* S'étend pour remplir l'espace disponible */
        }
      }

      .presentationText {
        // border: 1px solid yellow;
        // margin: 20px;
      }
      .goalText {
        margin-top: 20px;
        // border: 1px solid yellow;
        // margin: 20px;
      }
    }

    .contactContainer {
      margin-top: 40px;
      // border: 1px solid orange;
      // margin: 20px;
    }

    .aboutButton {
      display: flex;
      align-items: center;
      // border: 1px solid orange;
      color: white;
      padding: 10px;
      margin-top: 40px;
      // margin: 20px;
    }
  }
}
