.projectsSectionContainer {
  border: 1px solid red;

  .projectsContainer {
    border: 1px solid orange;
    height: 2040px;

    .projectContainer {
      height: 640px;
      border: 1px solid white;
    }
  }
}

// ---------------------------------------------------   TABLETS
@media screen and (min-width: 768px) {
  .projectsSectionContainer {
    border: 1px solid blue;
  }
}
// ---------------------------------------------------   DESKTOPS
@media screen and (min-width: 1200px) {
  .projectsSectionContainer {
    display: flex;
    justify-content: center;
    border: 1px solid red;

    .projectsContainer {
      width: calc(1200px + 80px);
      height: 680px;
      display: flex;
      justify-content: space-between;
      border: 1px solid orange;

      .projectContainer {
        border: 1px solid white;
        width: 400px;
        height: 100%;
      }
    }
  }
}
