@font-face {
  font-family: 'amsterdam-four';
  src: url('/fonts/amsterdam-four.ttf') format('truetype');
}

.logoCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  .logoContainer {
    width: 290px;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent; // Rend toutes les bordures transparentes
    border-top: 1px solid white; // Segment nord-est visible
    border-bottom: 1px solid white; // Segment sud-ouest visible
    border-radius: 50%;
    transform: rotate(45deg); // Rotation de 45 degrés

    .logoTextContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: rotate(-45deg);

      .signature {
        margin-top: 20px;
        font-family: 'amsterdam-four';
        font-size: 44px;
      }

      .name {
        margin: 45px 0 0 20px;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 6px;
        font-weight: 500;
      }

      .job {
        margin: 10px 0 0 20px;
        text-transform: uppercase;
        font-size: 9px;
        letter-spacing: 3px;
        font-weight: 500;
      }
    }
  }
}
