@import 'styles/variables';

.projectsHeaderContainer {
  padding-top: 80px;

  .projectsTitleContainer {
    padding: 0 40px;

    .titleContainer {
      display: flex;
      align-items: center;

      .title {
        margin-right: 20px;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 500;
      }
      .titleSeparator {
        height: 1px;
        background-color: $primary-color;
        flex-grow: 1; // S'étend pour remplir l'espace disponibles
      }
    }
  }
}

// ---------------------------------------------------   TABLETS
@media screen and (min-width: 768px) {
  .projectsHeaderContainer {
    .projectsTitleContainer {
      padding: 0 80px;
    }
  }
}
// ---------------------------------------------------   DESKTOPS
@media screen and (min-width: 1200px) {
  .projectsHeaderContainer {
    display: flex;
    justify-content: center;
    .projectsTitleContainer {
      width: calc(1200px + 80px);
      padding: 0;
      .titleContainer {
        width: 600px;
      }
    }
  }
}
