.aboutSectionContainer {
  // border: 1px solid white;
  margin: 200px;

  .titleContainer {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    // border: 1px solid yellow;
    // margin: 20px;

    .aboutTitle {
      color: white;
      margin-right: 20px; /* Ajuster selon le besoin */
    }
    .horizontalBar {
      height: 1px; /* Épaisseur de la barre */
      background-color: #ffffff; /* Couleur de la barre */
      flex-grow: 1; /* S'étend pour remplir l'espace disponible */
    }
  }

  .aboutButton {
    border: 1px solid white;
    color: white;
    padding: 10px;
  }

  .presentationContainer {
    display: grid;
    // grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 200px;

    font-size: 14px;

    // border: 1px solid white;
    // margin: 20px;

    .leftTextContainer {
      // border: 1px solid red;
      // margin: 20px;
      .presentationText {
        // border: 1px solid orange;
        // margin: 20px;
      }
    }

    .photoContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // border: 1px solid red;
      // margin: 20px;

      .photo {
        position: relative;
        aspect-ratio: 1/1;

        // border: 1px solid orange;
        // margin: 20px;

        .image {
          border-radius: 50%;
          width: 100%;

          // border: 1px solid yellow;
        }
      }
    }

    .rightTextContainer {
      // border: 1px solid red;
      // margin: 20px;
      .goalText {
        // border: 1px solid orange;
        // margin: 20px;
      }
      .contactContainer {
        // border: 1px solid orange;
        // margin: 20px;
      }
    }
  }
}
