@font-face {
  font-family: 'Brandon_Grotesque_regular';
  src: url('/fonts/Brandon_Grotesque_regular.otf') format('truetype');
}

.aboutSectionContainer {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin: 20px;
  border: 2px solid white;

  .headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid red;

    .headerTitle {
      font-size: 50px;
      // letter-spacing: 4px;
      font-weight: 400;

      margin: 20px;
      border: 1px solid orange;
    }

    .headerQuote {
      position: relative;
      text-align: center;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 3px;

      border: 1px solid orange;
      color: white;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%; // Centrer verticalement
        width: 130px; // Longueur de la ligne
        height: 1px; // Épaisseur de la ligne
        background-color: rgb(255, 255, 255); // Couleur de la ligne
      }
      &::before {
        left: -140px; // Positionner à gauche du texte
      }
      &::after {
        right: -140px; // Positionner à droite du texte
      }
    }
    .headerPresentation {
      text-align: center;
      font-size: 12px;
      // text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 20px;

      margin: 40px 340px;
      border: 1px solid orange;
    }
  }

  .cardContainer {
    display: flex;
    justify-content: space-between;

    border: 1px solid red;
    margin: 20px;

    .photoContainer {
      position: relative;
      width: 40vw; //                                 Utilisez une unité relative pour la responsivité
      max-width: 400px; //                            Maximum width
      height: 40vw; //                                Assurez-vous que la hauteur et la largeur sont égales
      max-height: 400px; //                           Maximum height
      aspect-ratio: 1 / 1;
      // border-radius: 50%;
      // border: 3px solid #e9d4ae;
      overflow: hidden;

      border: 1px solid orange;
    }

    .presentationContainer {
      flex-grow: 1;
      flex-basis: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      border: 1px solid orange;
      margin: 20px;

      .presentationText {
        border: 1px solid yellow;
        margin: 20px;
      }
      .presentationButton {
        border: 1px solid yellowgreen;
      }
    }

    .goalContainer {
      flex-grow: 1;
      flex-basis: 0;
      border: 1px solid orange;
      margin: 20px;
      .goalText {
        border: 1px solid yellow;
        margin: 20px;
      }
    }
  }
}
