.aboutSectionContainer {
  margin-bottom: 80px;
  border: 1px solid red;
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=434343&c2=121212&gt=r&gd=dcl
*/
  background: #434343;
  background: radial-gradient(transparent 18%, #121212 86%),
    radial-gradient(at left center, #434343, #121212);
  padding: 140px 0;

  .profilPictureContainer {
    height: 340px;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;

    // border: 1px solid white;

    .photoContainer {
      position: relative;
      aspect-ratio: 1/1;
      max-width: 340px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

      // border: 1px solid #121212;
      // border-radius: 10px;

      .photo {
        // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        //   rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        //   rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        border: 1px solid #121212;
        border-radius: 10px;
      }
    }
  }

  .presentationContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 40px;
    // border: 1px solid white;

    .titleContainer {
      display: flex;
      align-items: center;

      .title {
        margin-right: 20px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 500;
      }

      .titleSeparator {
        height: 1px;
        background-color: white;
        flex-grow: 1; // S'étend pour remplir l'espace disponibles
      }
    }

    .presentationTextsContainer {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .presentationText {
        font-size: 14px;
        line-height: 17px;
      }
    }

    .buttonContainer {
      display: flex;
      justify-content: center;

      .aboutBtn {
        padding: 10px;
        color: white;
        border: 1px solid white;
      }
    }
  }
}

// ---------------------------------------------------   TABLETS
@media screen and (min-width: 768px) {
  .aboutSectionContainer {
    .profilPictureContainer {
      .photoContainer {
        width: 340px;
        height: 340px;
      }
    }

    .presentationContainer {
      padding: 0 80px;
    }
  }
}
// ---------------------------------------------------   DESKTOPS
@media screen and (min-width: 1200px) {
  .aboutSectionContainer {
    display: flex;
    justify-content: center;
    gap: 80px;

    .profilPictureContainer {
      width: 600px;
      height: 680px;
      margin-bottom: 0px;
    }

    .presentationContainer {
      width: 600px;
      height: 680px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0;
    }
  }
}
