.aboutSectionContainer {
  border: 1px solid red;

  .profilPictureContainer {
    display: flex;
    justify-content: center;
    border: 1px solid orange;
    margin: 20px;

    .imageContainer {
      position: relative;
      width: 50%;
      min-width: 280px;
      aspect-ratio: 1/1;

      border: 1px solid yellow;
      margin: 20px;
      .image {
        border-radius: 50%;
        border: 1px solid yellowgreen;
      }
    }
  }

  .informationsContainer {
    border: 1px solid orange;
    margin: 20px;

    .titleContainer {
      display: flex;
      align-items: center;

      margin-top: 20px;
      // border: 1px solid yellow;

      .title {
        padding-right: 10px;
        // border: 1px solid yellowgreen;
      }

      .titleSeparator {
        height: 1px;
        background-color: #ffffff;
        //       background: linear-gradient(to left, rgba(240, 240, 240, 0), #fff);
        flex-grow: 1; // S'étend pour remplir l'espace disponibles
      }
    }

    .presentationTextContainer {
      margin: 20px;
      // border: 1px solid yellow;
      // margin-top: 20px;

      .presentationText {
        margin: 10px;
        // line-height: 20px;
        font-size: 14px;
        // letter-spacing: 1px;
        // border: 1px solid yellowgreen;
        // margin-top: 20px;
      }
    }

    .objectivesTextContainer {
      margin: 20px;

      .objectifText {
        margin: 10px;

        font-size: 14px;
      }
    }
  }
}

// ---------------------------------------------------   TABLETS
@media screen and (min-width: 768px) {
  .aboutSectionContainer {
    border: 1px solid blue;
  }
}
// ---------------------------------------------------   DESKTOPS
@media screen and (min-width: 1200px) {
  .aboutSectionContainer {
    display: flex;
    justify-content: center;
    border: 1px solid green;

    .profilPictureContainer {
      width: 50%;
      border: 1px solid yellowgreen;
      margin: 20px;

      .imageContainer {
        border: 1px solid yellow;
        margin: 20px;
      }
    }

    .descriptionTextContainer {
      width: 50%;
      border: 1px solid yellowgreen;
      margin: 20px;
    }
  }
}
// .aboutSectionContainer {
//   border: 1px solid white;

//   .aboutTitleContainer {
//     display: flex;
//     align-items: center;
//     border: 1px solid red;
//     margin: 20px;

//     .title {
//       padding-right: 20px;

//       font-size: 14px;
//       letter-spacing: 2px;
//       // font-weight: 500;
//     }

//     .separator {
//       height: 0.5px;
//       // background-color: #ffffff;
//       background: linear-gradient(to left, rgba(240, 240, 240, 0), #fff);
//       flex-grow: 1; // S'étend pour remplir l'espace disponibles
//     }
//   }

//   .profilPictureContainer {
//     display: flex;
//     justify-content: center;
//     border: 1px solid red;
//     margin: 20px;

//     .imageContainer {
//       position: relative;
//       width: 50%;
//       max-width: 500px;
//       min-width: 280px;
//       aspect-ratio: 1/1;

//       border: 1px solid orange;
//       margin: 20px;
//       .image {
//         border-radius: 50%;
//         border: 1px solid yellow;
//       }
//     }
//   }

//   .descriptionTextContainer {
//     border: 1px solid red;
//     margin: 20px;

//     .presentationText {
//       border: 1px solid orange;
//       margin: 20px;
//     }

//     .objectivesText {
//       border: 1px solid orange;
//       margin: 20px;
//     }
//   }
// }

// // ---------------------------------------------------   TABLETS
// @media screen and (min-width: 768px) {
//   .aboutSectionContainer {
//     border: 1px solid blue;
//   }
// }

// // ---------------------------------------------------   DESKTOPS
// @media screen and (min-width: 1200px) {
//   .aboutSectionContainer {
//     display: flex;
//     justify-content: center;

//     border: 1px solid green;

//     .aboutTitleContainer {
//       display: none;
//     }

//     .profilPictureContainer {
//       border: 1px solid blue;

//       .imageContainer {
//         min-width: 500px;
//         min-height: 500px;
//         max-height: 500px;
//         border: 1px solid yellowgreen;
//       }
//     }

//     .descriptionTextContainer {
//       width: 50%;
//       border: 1px solid blue;
//     }
//   }
// }
