.aboutSectionContainer {
  margin-bottom: 80px;
  border: 1px solid red;

  .profilPictureContainer {
    height: 340px;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;

    border: 1px solid white;

    .photoContainer {
      position: relative;
      aspect-ratio: 1/1;
      max-width: 400px;
      max-height: 400px;

      // border: 1px solid red;

      .photo {
        border: 1px solid white;
        border-radius: 50%;
      }
    }
  }

  .presentationContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 40px;
    border: 1px solid white;

    .titleContainer {
      display: flex;
      align-items: center;
      // border: 1px solid red;

      .title {
        margin-right: 20px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 500;
      }

      .titleSeparator {
        height: 1px;
        background-color: #ffffff;
        flex-grow: 1; // S'étend pour remplir l'espace disponibles
      }
    }

    .presentationTextsContainer {
      display: flex;
      flex-direction: column;
      gap: 20px;
      // border: 1px solid red;

      .presentationText {
        // border: 1px solid orange;
      }
    }

    .buttonContainer {
      display: flex;
      justify-content: center;
      // border: 1px solid red;

      .aboutBtn {
        padding: 10px;
        color: white;
        border: 1px solid white;
      }
    }
  }
}

// ---------------------------------------------------   TABLETS
@media screen and (min-width: 768px) {
  .aboutSectionContainer {
    border: 1px solid blue;

    .profilPictureContainer {
      border: 1px solid white;
    }

    .presentationContainer {
      padding: 0 80px;
      border: 1px solid white;
    }
  }
}
// ---------------------------------------------------   DESKTOPS
@media screen and (min-width: 1200px) {
  .aboutSectionContainer {
    display: flex;
    justify-content: center;
    gap: 80px;
    border: 1px solid red;

    .profilPictureContainer {
      width: 600px;
      height: 680px;
      margin-bottom: 0px;
      border: 1px solid white;
    }

    .presentationContainer {
      width: 600px;
      height: 680px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0;
      border: 1px solid white;
    }
  }
}
