@mixin insidecardsbg {
  background-color: #121212;
  background: radial-gradient(at 30% 31%, transparent 0%, #121212 100%), #434343;
}

@mixin cardsboxshadow {
  border: 1px solid #121212;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@mixin cardsbg {
  background: radial-gradient(transparent 18%, #121212 86%),
    linear-gradient(0deg, #121212 0%, #434343 50%, #121212 100%);
}

@mixin btnstyle {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  &:hover {
    border: 1.5px solid white;
    font-weight: 600;
  }
}
