@font-face {
  font-family: 'amsterdam-four';
  src: url('/fonts/amsterdam-four.ttf') format('truetype');
}

.visitCardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr; /* crée deux colonnes de taille égale */
  grid-gap: 100px; /* espace entre les colonnes, ajustez selon vos besoins */
  margin: 200px 200px;
  // border: 1px solid red;

  .textCardContainer {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    border: 1px solid white;

    .title {
      font-size: 40px;
      // border: 1px solid orange;
      margin: 20px;
    }

    .quoteContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      // border: 1px solid orange;

      .quote {
        white-space: nowrap; // Empêche le texte de passer à la ligne
        padding: 0 10px; // Un peu d'espace autour du texte
      }
      .Separator {
        flex-grow: 1; // Permet aux barres de se développer pour occuper l'espace disponible
        min-width: 110px; // Assurez-vous que les barres ont une largeur minimale
        height: 1px;
        background-color: #f1f1f2;
      }
    }

    .description {
      width: 33.33%;
      margin: 40px;
      font-size: 12px;
      text-align: center;
      // border: 1px solid orange;
    }
  }

  .logoCardContainer {
    border: 1px solid white;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px;

      .circle {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        border: 3px solid transparent; // Rend toutes les bordures transparentes
        border-top: 2px solid white; // Segment nord-est visible
        border-bottom: 2px solid white; // Segment sud-ouest visible
        transform: rotate(45deg); // Rotation de 45 degrés
        display: flex;
        justify-content: center;
        align-items: center;

        .textContainer {
          // border: 1px solid orange;
          display: flex;
          flex-direction: column;
          align-items: center;
          transform: rotate(-45deg);
          color: white;
          .signature {
            font-family: 'amsterdam-four';
            font-size: 40px;

            // border: 1px solid blue;
            margin: 30px 0 50px 0;
          }
          .name {
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 8px;
            font-weight: 500;
            // border: 1px solid cyan;
            margin-bottom: 2px;
          }
          .job {
            font-size: 8px;
            text-transform: uppercase;
            letter-spacing: 4px;
            font-weight: 500;
            // border: 1px solid greenyellow;
            margin: 10px;
          }
        }
      }
    }
  }
}
